*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    background: url(imagens/fundo.png) repeat-x;
}

#cabecalho{
    height: 230px;
    width: 750px;
    padding: 5px;
    margin: 0px auto;
    background: url("imagens/detalhe-topo.png") no-repeat right top;
}

.logo{
    width: 152px;
    height: 66px;
    margin-top: 20px;
    background: url(imagens/logo.png) no-repeat;
    text-indent: -3000px;
}

/*MENU INICIA*/

#cabecalho ul li{
    margin-top: 25px;
    background-color: #b0002d;
    list-style: none;
}

#cabecalho li{
    float: left;
    margin: 0px;
    padding: 15px;
    background: url(imagens/divisor.png) no-repeat left center;
}

#cabecalho li.primeiro{
    background: none;
}

#cabecalho ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#cabecalho ul li a:hover{
    color: #7e0018;
}

#cabecalho li.atual{
    background-color: #de0037;
}

/*MENU TERMINA*/

/*CONTEUDO INICIA*/
#conteudo{
    margin: 0 auto;
    width: 100%;
    min-width: 1100px;
    max-width: 1100px;
}

#central{
    float: right;
    margin-right: 5%;
    width: 730px;
}
#lateral{
    float: left;
    width: 300px;
}
/*CONTEUDO TERMINA*/

/*POSTAGEM INICIA*/
.postagem{
    background-image: url(imagens/fundo-caixa.png);
    max-width: 350px;
    width: 350px;
    min-height: 370px;
    margin: 5px;
    float: left;
}

#conteudo #central .postagem h2,h3{
    margin: 0px;
}


#conteudo #lateral .postagem-lateral h1{
    margin: 5px;
}

#conteudo #central .postagem h1{
    margin: 5px;
}
#conteudo #central .postagem h1 span{
    background-color: #28496d;
    color: white;
    font-size: 0.7em;
    padding: 5px;
    display: block;
}

#conteudo #central .postagem h2 span{
    background-color: #de0037;
    margin: 0px 20px;
    color: black;
    padding: 5px;
    font-size: 0.7em;
}

#conteudo #central .postagem h3 span{
    background-color: #b0002d;
    padding: 3px;
    margin: 0px 20px;
    color: white;
    font-size: 0.9em;
}

#conteudo img{
    border: 5px solid #c7c7c7;
    width: 280px;
    padding: 0px;
    margin: 5px 20px;
}

div.nucleo{
    background-color: white;
    padding: 0px;
    margin: 5px auto;
    max-width: 330px;
    height: 310px;
}

div.nucleo p{
    font-size: 1.15em;
    padding: 0px;
    margin: 0px 20px;
}

.postagem .nucleo a{
    color: #7e0018;
}

/*POSTAGEM TERMINA*/

/*POSTAGEM-LATERAL INICIA*/
.postagem-lateral{
    background-image: url(imagens/fundo-caixa.png);
    min-height: 370px;
    width: 300px;
    margin: 5px;
}
#conteudo #lateral .postagem-lateral h1 span{
    background-color: #28496d;
    color: white;
    font-size: 0.7em;
    padding: 5px;
    display: block;
}

div.nucleo-lateral{
    background-color: white;
    padding: 0px;
    margin: 5px auto;
    width: 280px;
    height: 310px;
}

.postagem-lateral .nucleo-lateral p{
    margin: 0px;
    padding: 0px;
}

.postagem-lateral .nucleo-lateral ul{
    list-style: none;
    padding: 15px;
}
.postagem-lateral .nucleo-lateral ul li{
    padding: 8px;
}
.postagem-lateral .nucleo-lateral ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.postagem-lateral .nucleo-lateral ul li a:hover{
    background: url(imagens/marcador.png) no-repeat left center;
    padding-left: 19px;
    color: #a1a1a1;
    font-size: 1.1em;
}
.postagem-lateral .nucleo-lateral label{
    display: block;
    cursor: pointer;
}
.postagem-lateral .nucleo-lateral input{
    font-size: 0.9em;
    width: 125px;
    padding: 5px;
    background-color: #fff;
}
.postagem-lateral .nucleo-lateral input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}



/*POSTAGEM-LATERAL TERMINA*/

/*RODAPE INICIA*/
#rodape{
    background: #294c71;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/*RODAPE TERMINA*/